html {   background: url(jys.jpg) no-repeat center fixed;  background-size: cover;}
h1 {
    font-size: 100px;
    color: rgb(242, 246, 248);
    text-align: center;
}
h2{
    font-size: 100px;
    color: rgb(242, 246, 248);
    text-align: center;
}